# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# Dataset (too large for GitHub)
Indoor-Obstacle-Detection-*/
datasets/
*.zip

# Training runs (optional - can be large)
runs/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
